<style type="text/css">

	/* global variables */
	:root {
	  --main-bg-color: darkgray;
	}

	/* . for classes */
	/* # for IDs */
	/* actual tags for tags (e.g.: body) */
	.chat-area{
		overflow: auto;
		max-height: 550px;
		background-color: var(--main-bg-color);
		padding: 10px;


	}

	.reminder-body{
		text-align: justify;
		overflow: auto;
		padding: .5rem;
		font-size: 10px;
		max-height: 250px;
	}

	.darkmode-layer, .darkmode-toggle {
		  z-index: 500;
		}
	.button {
		  isolation: isolate;
		}
		
</style>