
<!-- random things that popped-out of my imagination -->


<!-- general idea for pop-up profile overview -->
<div class="card-body">
    <div class="card card-widget widget-user">
  <!-- Add the bg color to the header using any of the bg-* classes -->
  <div class="widget-user-header bg-success">
    <h3 class="widget-user-username">
    	<!-- USER BADGES DEPENDING ON USER_GROUP -->
  		{% if user.profile.user_group == "Pawn" %}
  			<i class="fa fa-chess-pawn ml-3"></i>
  		{% elif user.profile.user_group == "Rook" %}
  			<i class="fa fa-chess-rook ml-3"></i>
  		{% elif user.profile.user_group == "Knight" %}
  			<i class="fa fa-chess-knight ml-3"></i>
  		{% elif user.profile.user_group == "Bishop" %}
  			<i class="fa fa-chess-bishop ml-3"></i>
  		{% elif user.profile.user_group == "Queen" %}
  			<i class="fa fa-chess-queen ml-3"></i>
  		{% elif user.profile.user_group == "King" %}
  			<i class="fa fa-chess-king ml-3"></i>
  		{% endif %}
    </h3>
    <small class="text text-sm" style="font-family: 'Monotype Corsiva'; size: 8px; color: rgba(1,0,1,.5)" > {{ user.profile.title }}</small>

            <div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img elevation-5" src="{{ user.profile.image.url }}" style="height: 120px; width: 100px">
	    <div class="media-body">
	    	<div class="row">
	      		<h4 class="account-heading ml-3"><strong> {{ user.username }} </strong></h4>
	    </div>
			<a class='btn btn-outline-dark btn-sm mr-1 mt-3' href="#"> Send a message </a>	
		</div>
		</div>
	  </div>
	</div>
</div>
  <div class="card-footer" style="font-size: 12px">
    <div class="row">


    	<div class="col-5 col-sm-3">
                <div class="nav flex-column nav-tabs nav-tabs-right h-100" id="vert-tabs-right-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link " id="vert-tabs-right-intro-tab" data-toggle="#" href="{% url 'profile' request.user.username %}" role="tab" aria-controls="vert-tabs-right-intro" aria-selected="true"><b>Check Profile</b></a>
                </div>
              </div>

        <div class="col-7 col-sm-9">
          <div class="tab-pane fade show active" id="vert-tabs-right-intro" role="tabpanel" aria-labelledby="vert-tabs-right-intro-tab">
          	aaaa

          </div>
        </div>
      </div>

              
            </div>
          </div>
          <!-- /.card -->
      </div>
  </div>
  <!-- /.card-body -->
</div>